.coffee-cup-container {
    width: 11em;

    .cup {

        div {
            margin: 10px;
        }
    }

    button {
        margin: 5px;
    }

    flex-box {
        display: flex;

        /* stack vertically */
        flex-direction: column;
    }

}

button {

    font-size: 150%;
    padding-left: 1em;
    padding-right: 1em;
}

.winner {
    color: red;
    background-color: #ffe0e0;
}