<div class="coffee-cup-container" style="display: flex; flex-direction: column; align-items: center;">
    <div style="font-size:150%;">{{type}}</div>
    <div>&euro; {{price | number:'1.2-2' }}</div>
    <div style=" display:flex; flex-direction: row;">
        <button (click)="decreaseCount()">-</button>
        <button (click)=" increaseCount()">+</button>
    </div>
    <div class="cups">
        <div *ngFor="let cup of cups" class="cup"
            style="display: flex; flex-direction: row; align-items: center; padding:0px;" [style.color]="cup.color">
            <div style="font-size: 200%;">{{cup.idx + 1}}</div>
            <div style="display: flex; flex-direction: column; justify-content: center;">
                <div style="margin:0px;">{{cup.start}}</div>
                <div style="margin:0px;">{{cup.end}}</div>
            </div>
            <div style="color:grey;font-size: 70%;">
                ({{cup.end - cup.start + 1 }})
            </div>
        </div>
    </div>



</div>