.coffee-cup-container {

    .cup {
        margin: 10px;

        div {
            margin: 10px;
        }
    }

    button {
        margin: 10px;
    }

    flex-box {
        display: flex;

        /* stack vertically */
        flex-direction: column;
    }

}

button {
    font-size: 200%;
    padding-left: 1em;
    padding-right: 1em;
}