.coffee-cup-type-container {
    /* Horizontal flexbox layout */

    display: flex;
    justify-content: center;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 8em;
    padding: 1em;
    margin-top: 1em;
}

.outer {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    /* Full viewport height, adjust as needed */
    width: 100vw;
    /* Full viewport width, adjust as needed */
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }
}

.final {
    animation: flash 0.5s infinite;
}