.coffee-cup-type-container {
    /* Horizontal flexbox layout */

    display: flex;
    justify-content: center;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 8em;
    padding: 1em;
    margin-top: 1em;
}

.outer {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    /* Full viewport height, adjust as needed */
    width: 100vw;
    /* Full viewport width, adjust as needed */
}